body {
  background-color: #B0DFE5; 
}

h2 {
  color: #588BAE;
  text-align: center;
  font-family: palatino;
  font-size: 100px;
}

img {
  height: 500px;
  transition: .5s;
}

img:hover {
  height: 510px;
  transition: .5s;
}

nav{
  list-style-type: none;
  top: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  background-color:#79C7C5;
  left: 0;
  right: 0;
}

li{
  display: inline;
  float: right;
  padding: 1.0%;
}

a{
  text-decoration: none;
  font-family: palatino;
  font-size: 20px;
  color: #B0DFE5;
}

button{
  background-color:#588BAE;
  border:10;
  border-color:#588BAE;
  padding: 8%;
  border-radius: 5px
}
